h1
{
	animation: type 3s steps(34);
	overflow: hidden;
	white-space: nowrap;
	font-family: consolas;
	border-right: 4px solid black;
	width: 34ch
}

@keyframes type{
	0%{
		width: 0ch;	
	}
	100%{
		width: 34ch
	}
}